:root {
    --primary-color: #35A4D8;
    --secondary-color: #CFCCC9;
    --accent1-color: #E7EFF5;
    --accent2-color: #A8C9DA;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: var(--secondary-color);
}

h1, h2 {
    font-family: 'Merriweather', serif;
    color: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

header {
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color);
}

.logo img {
    width: 120px;
    align-self: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
}

.hero {
    position: relative;
    height: 400px;
    overflow: hidden;
    margin-bottom: 40px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article p {
    padding: 21px;
    text-align: left;
}

.hero h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: var(--accent1-color);
    background-color: var(--primary-color);
    padding: 20px;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--accent1-color);
    padding: 30px;
    width: 80%;
    display: flex;
    align-items: center;
}

.hero article img {
    float: right;
    width: 100px;
    height: 100px;
}

.history {
    text-align: center; 
    margin-bottom: 40px;
}

.history h2 {
    margin-bottom: 20px; 
}

.history-content {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    flex-wrap: wrap;
}

.history-left,
.history-right {
    flex: 1; 
    max-width: 400px;
    text-align: center;
    margin: 0; 
    padding: 10px;
}

.history-image {
    text-align: center; 
}

.history-image img {
    width: 250px; 
    height: auto;
}


.adventure {
    text-align: center;
    margin-bottom: 20px;
}

.adventure-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-items: center;
}

.adventure img {
    width: 200px;
    height: 120px;
    object-fit: cover;
}

.adventure caption {
    font-size: 0.9rem;
    margin-top: 10px;
    display: block;
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer nav.sociallinks {
    display: flex;
    gap: 20px;
}

footer img {
    float: right;
    width: 40px;
    height: auto;
    padding-bottom: 20px;
}

/* Contact page css */

#employees .employee {
    display: inline-block;
    text-align: center;
    margin: 1em;
}

#employees img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#contact-form form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#contact-form label {
    font-weight: bold;
}

#contact-form input, #contact-form textarea {
    padding: 0.5em;
    font-size: 1em;
    width: 100%;
    max-width: 400px;
}

#contact-form button {
    background-color: var(--primary-color);
    color: white;
    padding: 1em;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: var(--primary-color);
}
