nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
}

.hero {
    text-align: center;
    padding: 20px;
}

.hero img {
    width: 100%; 
    height: auto;
    max-height: 400px; 
    object-fit: cover;
}

.hero h1 {
    font-size: 3rem;
    margin-top: 10px;
}


h1 {
    color: steelblue;
}

.history {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.history img {
    width: 20px;
    height: auto;
    margin: 0 20px;
}

.history p {
    width: 40%;
}

.adventure {
    text-align: center;
    padding: 20px;
}

.adventure img {
    margin: 10px;
    width: 150px;
    height: auto;
    display: inline-block;
}

.adventure caption {
    display: block;
    margin-top: 5px;
    font-size: 0.9rem;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    width: auto;
}